@import "../src/assets/css/vars";
@import "../src/containers/commons/Footer";
@import "../src/containers/commons/Nav";
@import "../src/containers/commons/Layout";
// @import "./SearchPage/index";
// @import "./MoviePage/index";

/* Global */
* {
  margin: 0;
  bottom: 0;
  color: #fff;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#root {
  background: $netflixBlack;
}

body {
  width: 100%;
}
